<html>
<head>
<link rel="stylesheet" href="/static/css/tables.css" type="text/css" rel='stylesheet'/>
<script type="text/javascript" class="library" src="/static/js/jquery-1.7.2.min.js"></script>
</head>
<body>
<div>{{word}}</div>
<table class="hovertable">
    <tr>
        <th rowspan='2'>日期</th>
        <th rowspan='2'>姓名</th>
        <th colspan='12' >114</th>
        <th colspan='10'>外呼营销（云企）</th>
        <th colspan='9'>114/4000老客户回访（青牛）</th>
    </tr>
    <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
        <td>来电数量</td>
        <td>人工已接听</td>
        <td>人工未接听</td>
        <td>总通话时长</td>
        <td>平均通话时长</td>
        <td>有效通话次数</td>
        <td>有效通话率</td>
        <td>有效通话时长</td>
        <td>有效通话平均时长</td>
        <td>CRM新增</td>
        <td>CRM录入率</td>
        <td>CRM备案通过</td>

        <td>总通话时长</td>
        <td>总通话次数</td>
        <td>接通数量</td>
        <td>平均通话时长</td>
        <td>有效通话次数</td>
        <td>有效通话总时长</td>
        <td>有效通话率</td>
        <td>有效通话平均时长</td>
        <td>CRM更新</td>
        <td>CRM备案通过</td>

        <td>总通话时长</td>
        <td>总通话次数</td>
        <td>平均通话时长</td>
        <td>有效通话次数</td>
        <td>有效通话率</td>
        <td>有效通话总时长</td>
        <td>有效通话平均时长</td>
        <td>CRM更新</td>
        <td>CRM备案通过</td>


</tr>
{% load selftag %}
{% for k,v in rs_map %}
    {% for it in v %}
        <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
            <td>{{k}}</td>
            <td>{{it.name}}</td>
            <td>{{it.call_times}}</td>
            <td>{{it.answer}}</td>
            <td>{{it.unAnswer}}</td>
            <td>{{ it.call_duration | banary_to_str:" " }}</td>
            <td>{{it.avg_call_duration | banary_to_str:" "}}</td>
            <td>{{it.valid_call_times}}</td>
            <td>{{it.valid_call_radio}}</td>
            <td>{{it.valid_call_duration | banary_to_str:" "}}</td>
            <td>{{it.valid_call_avg_duration | banary_to_str:" "}}</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>

            <td>{{it.gd_call_duration | banary_to_str:" "}}</td>
            <td>{{it.gd_call_times}}</td>
            <td>{{it.gd_call_in_ctimes}}</td>
            <td>{{it.gd_call_avg_duration | banary_to_str:" "}}</td>
            <td>{{it.gd_valid_call_nums}}</td>
            <td>{{it.gd_valid_call_duration}}</td>
            <td>{{it.gd_valid_call_radio}}</td>
            <td>{{it.gd_valid_call_avg_duration}}</td>
            <td>---</td>
            <td>---</td>

            <td>{{it.qn_call_duration | banary_to_str:" "}}</td>
            <td>{{it.qn_call_times}}</td>
            <td>{{it.qn_avg_call_duration | banary_to_str:" "}}</td>
            <td>{{it.qn_valid_call_times}}</td>
            <td>{{it.qn_valid_call_radio}}</td>
            <td>{{it.qn_valid_call_all_duration | banary_to_str:" "}}</td>
            <td>{{it.qn_valid_avg_call_duration | banary_to_str:" "}}</td>
            <td>---</td>
            <td>---</td>
            </tr>

    {% endfor %}
{% endfor %}
</table>
<!--
<script type='text/javascript'>

    function change(){ 
        var obj = document.getElementById("upload");
        var txt = document.getElementById("txt");
        txt.value=''
        var length = obj.files.length;
        for(var i=0;i<obj.files.length;i++){
            var fname = obj.files[i].name;
            txt.value+=fname+';'
        }
    }
</script>
    <form method="post" action="/app/upload/" id="myForm" enctype="multipart/form-data">
        <div class="uploader blue" style="margin:auto auto">
            <input type="text" class="filename" id='txt' readonly="readonly"/>
            <input type="button" name="file" class="button" value="Browse..."/>
            <input type="file" size="70" multiple="true" id="upload" name='myfile' onchange="change()"/>
        </div>
            <input type="submit" value="upload"/>
            <input type="reset" value="reset"/>
    </form>
-->
</body>
</html>
